[gcode_macro print_start]
gcode:
    {% set bed_temp = params.BED|default(60)|int %}
    {% set hotend_temp = params.HOTEND|default(220)|int %}
    {% set mesh = params.MESH|default(1)|int %}

    M83		# relative extrusions
    M106 S0	# stop the part cooling fan
    M220 S100	# reset speed multiplier
    M221 S100	# reset extrusion multiplier

    {% set bed_probe_temp = 60 if bed_temp > 60 else bed_temp %}
    {% set hotend_probe_temp = hotend_temp - 70 %}
    M104 S{hotend_probe_temp}
    M140 S{bed_probe_temp}

    G28 X Y

    TEMPERATURE_WAIT sensor=heater_bed minimum={bed_probe_temp - 2} maximum={bed_probe_temp + 5}
    TEMPERATURE_WAIT sensor=extruder minimum={hotend_probe_temp - 2} maximum={hotend_probe_temp + 5}

    WIPE_HOTEND
    G28 Z
    Z_TILT_ADJUST
    G28 Z
    {% if mesh %} BED_MESH_CALIBRATE adaptive=1 {% endif %}

    # TODO: move to purge line location

    M104 S{hotend_temp}
    {% if probe_temp != bed_temp %}
	M140 S{bed_temp}
        TEMPERATURE_WAIT sensor=heater_bed minimum={bed_temp - 2} maximum={bed_temp + 5}
    {% endif %}
    TEMPERATURE_WAIT sensor=extruder minimum={hotend_temp - 2} maximum={hotend_temp + 5}

    # TODO: print a purge line

[gcode_macro print_end]
gcode:
    M140 S0
    M104 S0
    M106 S0
    PRINT_END_MOVEMENT
    M84

[gcode_macro cancel_print]
rename_existing: CANCEL_PRINT_BASE2
gcode:
    PRINT_END_MOVEMENT
    CANCEL_PRINT_BASE2
