[safe_z_home]
home_xy_position=300,220
speed: 400
z_hop: 5

[bltouch]
sensor_pin: ^mcu2:PB7
control_pin: mcu2:PB12
probe_with_touch_mode: True
#set_output_mode: OD
x_offset: 0
y_offset: 80
z_offset: 2.5
stow_on_each_sample: False

[bed_mesh]
algorithm: bicubic
speed: 400
mesh_min: 5,85
mesh_max: 595,955
probe_count: 9,9
fade_end: 10
zero_reference_position: 300,300
adaptive_margin: 5

[z_tilt]
z_positions: 50,0
    50,600
    550,600
    550,0
points: 85,5
    85,515
    515,515
    515,5
speed: 400
