[safe_z_home]
home_xy_position=300,220
speed: 400
z_hop: 5

[bltouch]
sensor_pin: ^mcu2:PB7
control_pin: mcu2:PB12
probe_with_touch_mode: True
#set_output_mode: OD
x_offset: 0
y_offset: 80
z_offset: 2.45
speed: 4
lift_speed: 10
stow_on_each_sample: False

[bed_mesh]
algorithm: bicubic
speed: 400
mesh_min: 15,95
mesh_max: 585,505
probe_count: 9,9
fade_end: 10
adaptive_margin: 5

[z_tilt]
horizontal_move_z: 5
z_positions: 50,0
    50,600
    550,600
    550,0
points: 100,20
    100,420
    500,420
    500,20
speed: 400
